/* .info

{
    margin-bottom: 40px;
    background-image: url("/res/site/assets/img/LEHQ.jpg");
    background-size: cover;
    background-repeat: no-repeat;
} */




body,html
{
    background: #000 !important;
}



#carouselExampleFade
{
    margin: 0 auto;
    margin-bottom: 40px;
}


/* ######## Intro Home ######### */

div[data-media-body-per]
{
    position: relative !important;
    background: transparent;
}
div[data-media-body-per] .container
{
    padding: 20px;

}
 

a#intro_svg_home
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 60px;
    text-align: center;
    width: 200px;
    height: 60px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    text-decoration: none;
    color: #51cbce;
    font-size: 22px;

    
}
a#intro_svg_home svg,
a#intro_svg_home svg rect
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: transparent;

}
a#intro_svg_home svg rect
{
    stroke: #00e2ff;
    stroke-width: 4;
    transition: 2s;
    stroke-dasharray: 60 200;
    stroke-dashoffset: 320;
}
a#intro_svg_home:hover svg rect
{
    stroke: #ef8157;
    stroke-dasharray: 200 60;
    stroke-dashoffset: 0;
}



/* ############ ARTICLES ############ */

#row-per 
{
    margin: 0 auto;
    margin-top: 30px;
    max-width: 1200px;
}

div[data-article_per]
{
    position: relative;
    overflow: hidden;
    
}
a[data-article_lnk]
{
    text-decoration: none;

}
div[data-article_per]::before
{
    content: '';
    display: block;
     width: 100%;
     height: 0;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
      -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
     transition: all 0.5s;
     border: 1px solid #51cbce

}
div[data-article_per]:hover::before
{
    background: rgba(17, 17, 17, 0.589);
    height: 100%;
}


div[data-article_per] span
{
position: absolute;
top: -20px;
left: 50%;
transform: translateY(-50%) translateX(-50%);
z-index: 2;
font-size: 20px;
-moz-transition: all 0.3s;
-webkit-transition: all 0.3s;
transition: all 0.3s;


}
a[data-article_lnk] span i.nc-icon
{
    color: #51cbce;
}
a[data-article_lnk]:hover span
{
    
    transform: translateY(0) translateY(400%) translateX(-50%);
    
}


div[data-title-topic-card]
{
    border-bottom: 2px solid #ccc !important;
    padding: 20px !important;
}


div[data-content_topics]
{
    justify-content: center;
    margin-top: 40px;

}




/* ############# Topic ################ */

.ytp-spinner
{
    top: 70% !important;
}


div[data-avatar-card-topic]
{
    
    width: auto !important;
    height: auto !important;
    border-radius: 1px !important;


}
div[data-avatar-card-topic] .z-depth-1
{

    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)!important;
}
.grey-text

{
    color: #9e9e9e!important;
}



#profile_topic
{
    width: 84px;
    height: 84px;
    border: 1px solid #FFFFFF;
    position: relative;
    overflow: hidden;
    margin-right: 20px;
}
.footer_per_intro
{
    display: flex;
    
    
}

#share_per
{
    cursor: pointer;
    margin-right: 20px;
}
#imagecap_topic
{
    width: 208px;
    height: 340px;
    overflow: hidden;
    margin-right: 70px;


}
.infos_topic_b
{
    color: #51cbce;
}
.title_destopic
{
    text-align: center;
    color: #ef8157;
}
#intro img
{
    width: 104px;
    height: 104px;
    overflow: hidden;
}

#ajaxAZ
{
    text-align: center;
}

/* ###################### DARK MODE ################################ */




html.dark body
{
    color: #fff;
    background: #000;

}
html.dark body *.nc-icon
{
    color: #fff !important;
}
html.dark body .offset-area-per

{
    background: rgb(59, 59, 59);
}
html.dark body .offset-area-per *
{
    color: #fff;
}


html.dark body .input-group

{
    background: #000;
    color: #fff;
}

html.dark body .input-group .form-control

{
    color: #fff !important;
}

html.dark body .navbar .input-group .input-group-append .input-group-text
{
    color: #fff !important;
}

html.dark body .main-panel

{
    background: #222;
    transition: none !important;
}
html.dark body .main-panel .card *


{
    background: rgb(41, 41, 41) !important;
    color: #fff;
}
html.dark body ul#pagination_per
{
    background: #000;
}
html.dark body button span 
{
    color: #fff !important;
    background-color: #fff !important;
}
html.dark body .navbar.bg-white
{
    background: #222 !important;
    
}
html.dark body .navbar .navbar-nav *
{
    color: #fff !important;
    background: #222 !important;
    

}
html.dark body .navbar-brand
{
    color: #fff !important;
}

html.dark body .nav-arrows a
{
    background-color: #222 !important;
    
}
html.dark body  #preloader
{
    background: #666;
}
html.dark body  .wrapper{
    background: #666;
}

html.dark body  .breadcrumb,
html.dark body  .breadcrumb .form-control,
html.dark body  .breadcrumb .form-control:focus,
html.dark body  .breadcrumb .input-group-prepend,
html.dark body  .breadcrumb #Filtroautocomplete-list-per

{
    background: #000 !important;
    color: #dcdcdc !important;
}
html.dark body  .breadcrumb .input-group-focus *
{
    background: #000 !important;

}

html.dark body  .breadcrumb .autocomplete-items-per div
{
    background: transparent !important;
}


/* ################## PROFILE */


#submit_cap_toggle:hover #editcap
{
    top: 20px;
}
#submit_cap_toggle:hover  .image

{
    -webkit-filter: grayscale(30%);
    filter: grayscale(30%);
}

#editcap
{
    position: absolute;
    top: -50px;
    left: 10px;
    z-index: 10000;
    transition: 0.2s ease;
    background: transparent;
    border:transparent;
    color: rgb(81, 203, 206);
}
#editcap .nc-palette
{
    font-size: 22px;

}
.card-user .image
{
    transition: 0.2s ease;
}






#submit_avatar_toggle:hover  .avatar

{
    -webkit-filter: grayscale(30%);
    filter: grayscale(30%);
}


.card-user #editavatar
{
    
    background: transparent;
    border:transparent;
    color: rgb(81, 203, 206);
    font-size: 22px;
    cursor: pointer;
}



/* ################## Pagination #################### */

.pagination_content_per
{
    margin: auto;
    margin-top: 40px;
    overflow: hidden;
    padding: 20px;
    
}


ul#pagination_per

{
	position: relative;
	background: #fff;
	display: flex;
	padding: 10px 20px;
	border-radius: 50px;
	box-shadow: 0 5px 15px rgba(0,0,0,.2);
}
ul#pagination_per li
{
	list-style: none;
	line-height: 50px;
	margin: 0 5px;
}

ul#pagination_per li.pageNumber
{
	width: 50px;
    height: 50px;
	line-height: 50px;
	text-align: center;

}

ul#pagination_per li a
{
	display: block;
	text-decoration: none;
	color: #777;
	font-weight: 600;
    border-radius: 50%;
    font-family: Arial, Verdana, sans-serif;
}
ul#pagination_per li.pageNumber:hover a,
ul#pagination_per li.pageNumber.current a

{
	background: #333;
	color: #fff;
}
ul#pagination_per li:first-child
{
	margin-right: 30px; 
	font-weight: 700;
	font-size: 20px;
}
ul#pagination_per li:last-child
{
	margin-left: 30px; 
	font-weight: 700;
	font-size: 20px;
}

/* ################## Carousel  ################ */

#carousel_slider_bootstrap
{
    margin: auto;
    box-shadow: 0 10px 15px rgba(0,0,0,.2);

}


/* ######################## SLIDER PER ############################## */


.nav-arrows a
{
    background-color: #00c7ff !important;
}

#sb-slider
{
    box-shadow: 0 22px 15px rgba(0,0,0,.2) !important; 
}


/* ########################### GET ##################### */


.z-depth-1-half {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)!important;
}

.view {
    position: relative;
    overflow: hidden;
    cursor: default;
    max-width: 240px;
}


.view img, .view video {
    position: relative;
    display: block;
}


.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.overlay .mask {
    opacity: 0;
    transition: all .4s ease-in-out;
}

.overlay .mask:hover {
    opacity: 1;
}

.view .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.rgba-white-light, .rgba-white-light:after {
    background-color: rgba(255,255,255,.3);
}

/* ######################### MEDIA QUERY ########################## */

@media screen and (max-width: 946px)
{
    #row-per .card-deck
    {
    margin: 0 auto;
    
    }
    .media
    {
        flex-direction: column !important;
        
    }
    .media-body
    {
        margin-top: 20px;
    }
    #imagecap_topic
    {
        margin: auto;
    }
}

@media (min-width: 992px) and (max-width: 1626px)
{

    .col-lg-3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 711px)
{
    .col-sm-6 {
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%;
    }
    .pagination_content_per
    {
        margin-left: -15px;
    }
    .pagination_content_per  #pagination_per
    {
        background: none;
        box-shadow: none;
        
    }
    ul#pagination_per li:first-child
    {
       display: none;
    }
    ul#pagination_per li:last-child
    {
        display: none;
    }
    ul#pagination_per li.pageNumber
    {
        /* margin-right: 40px; */
        padding-right: 20px;
        width: 80px;
    }
    ul#pagination_per li.pageNumber:hover a, ul#pagination_per li.pageNumber.current a 
    {
        background: none;
        color: #ef8157;
    }

}