
<div style="margin-top: 150px;" class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="/forgot" method="POST">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>
<script>


var navbar =  document.querySelector(".navbar");

navbar.classList.remove("navbar-transparent");


</script>