<footer class="footer footer-black  footer-white ">
    <div class="container-fluid">
      <div class="row">
        <nav class="footer-nav">
          <ul>
            <li>
              <a href="#" target="_blank">Facebook</a>
            </li>
            <li>
              <a href="#" target="_blank">Twitter</a>
            </li>
            <li>
              <a href="#" target="_blank">Instagram</a>
            </li>
          </ul>
        </nav>
        <div class="credits ml-auto">
          <span class="copyright">
            © Darkseid Club © <script>
                document.write(new Date().getFullYear())
              </script> - Todos os Direitos Reservados.
          </span>
        </div>
      </div>
    </div>
  </footer>
</div>
</div>
<!--   Core JS Files   -->

<script id="Jquery" src="/res/site/assets/js/core/jquery-3.4.1.min.js"></script>
<script src="/res/site/assets/js/core/popper.min.js"></script>
<script src="/res/site/assets/js/core/bootstrap.min.js"></script>
<script src="/res/site/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
<!-- Chart JS -->
<script src="/res/site/assets/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="/res/site/assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="/res/site/assets/js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script>
<!-- JS LONELY -->
<script src="/res/site/assets/lonely/lonelyTool.js"></script>
<script src="/res/site/assets/lonely/lonely.js"></script>

<!-- CarouselTopics -->



<script src="/res/site/CarouselTopics/js/jquery.min.js"></script>
<script src="/res/site/CarouselTopics/js/owl.carousel.min.js"></script>
<script src="/res/site/CarouselTopics/js/js.js"></script>
<script>

//  ##################### AJAX ######################

var AZ = document.getElementById("ajaxAZ");
var ajaxAZsubmit = document.getElementById("ajaxAZsubmit");
var valueAJAXAZ = document.getElementById("valueAJAXAZ");
var statusAZ = document.getElementById("statusAZ");

if (AZ && ajaxAZsubmit)
  {

    ajaxAZsubmit.addEventListener("submit", function(e){


      e.preventDefault();
      var value = valueAJAXAZ.value;

      if (value == "") return;

      AZ.innerHTML = ""; // limpa o historico, para n acumular requisicoes.
      var xhr = new XMLHttpRequest(); // faz a requisicao.
      
      
        xhr.onload = function()
  
        {
          //######## testes
          // console.log(xhr.response.length);
          // console.log(xhr.response);
          // response = xhr.response;
          // #######
          
          if (xhr.status === 200)
          {
            try {
              statusAZ.style.display = "none";
              responseObject = JSON.parse(xhr.responseText);
              
              const r = responseObject;
              console.table(r);
              
              
              
              // Quantidade de visualizacoes
              // document.querySelector("p[data-nqnt]").innerHTML = "Atual: " + r[1];

              // Ultima atualizacao
              // var d = new Date();
              // document.querySelector("i[data-update-per-visitas]").innerHTML = " Ultima atualizacao:  " + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();

              
              

              // Execucao no content
              

              for (let index = 0; index < r.length; index++) {
                
                AZ.innerHTML +=  "<a href='" + r[index].idtopic + "'><li class='list-group-item'>" +  r[index].destopic  + "</li></a>"; 
                
            
              }
              
              
            
            } catch (error) {
              // document.querySelector("p[data-error_per]").innerHTML = 2;
              // document.getElementById("show_error_code_trycatch_ajax").innerHTML = error.name;
            }
            
          } else 
          {
            // document.querySelector("p[data-error_per]").innerHTML = 1;
            // document.getElementById("show_error_code_ajax").innerHTML = xhr.status;
          }
          
          
  
        }

        
      xhr.open("GET", "https://lds-club-com.umbler.net/data/ajax/AZ?l=" + value, true);
      xhr.send(null);




    }, false); // evento ajax para atualizar.
    
      
  }




</script>
<script>

$('div[data-slider-aba-topics]').owlCarousel({
        loop: false,
        center: true,
        items: 1,
        margin: 0,
        autoplay: false,
        dots:true,
        autoplayTimeout: 8500,
        smartSpeed: 450,
        responsive: {
          0: {
            items: 1
          },
          768: {
            items: 2
          },
          1170: {
            items: 3
          }
        }
    });

</script>

<!-- Profile js -->
{if="$_SERVER['REQUEST_URI'] === '/profile'"}
<script src="/res/site/assets/lonely/profile.js"></script>

{/if}
<!-- Loader Page -->
<script>

window.addEventListener("load", function(){
   this.document.getElementById("preloader").style.display = "none";

 }, false);

</script>

</body>

</html>