<footer class="footer footer-black  footer-white ">
    <div class="container-fluid">
      <div class="row">
        <nav class="footer-nav">
          <ul>
            <li>
              <a href="#" target="_blank">Facebook</a>
            </li>
            <li>
              <a href="#" target="_blank">Twitter</a>
            </li>
            <li>
              <a href="#" target="_blank">Instagram</a>
            </li>
          </ul>
        </nav>
        <div class="credits ml-auto">
          <span class="copyright">
            © Darkseid Club © <script>
                document.write(new Date().getFullYear())
              </script> - Todos os Direitos Reservados.
          </span>
        </div>
      </div>
    </div>
  </footer>
</div>
</div>
<!--   Core JS Files   -->

<script id="Jquery" src="/res/site/assets/js/core/jquery-3.4.1.min.js"></script>
<script src="/res/site/assets/js/core/popper.min.js"></script>
<script src="/res/site/assets/js/core/bootstrap.min.js"></script>
<script src="/res/site/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
<!-- Chart JS -->
<script src="/res/site/assets/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="/res/site/assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="/res/site/assets/js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script>
<!-- JS LONELY -->
<script src="/res/site/assets/lonely/lonelyTool.js"></script>
<script src="/res/site/assets/lonely/lonely.js"></script>
<!-- SlideCub -->
{function="filterTagsFooter('/home')"}
<!-- CarouselTopics -->
{if="$_SERVER['REQUEST_URI'] === '/topics'"}

<script src="/res/site/CarouselTopics/js/jquery.min.js"></script>
<script src="/res/site/CarouselTopics/js/owl.carousel.min.js"></script>
<script src="/res/site/CarouselTopics/js/js.js"></script>

{/if}
<!-- Profile js -->
{if="$_SERVER['REQUEST_URI'] === '/profile'"}
<script src="/res/site/assets/lonely/profile.js"></script>

{/if}
<!-- Loader Page -->
<script>

window.addEventListener("load", function(){
   this.document.getElementById("preloader").style.display = "none";

 }, false);

</script>

</body>

</html>