<div class="content">
        {loop="$topics"}
        <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        
                            <div class="container my-5 py-5 z-depth-1">
                                
             
                                    <!--Section: Content-->
                                    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
                                
                                      <!--Grid row-->
                                      <div class="row">
                                
                                        <!--Grid column-->
                                        <div class="col-md-6 mb-4 mb-md-0">
                                
                                          <h3 class="font-weight-bold">{$value.destopic}</h3>
                                
                                          <p data-intro_get="{$value.idtopic}" style="max-height: 140px; overflow-y: hidden;" class="text-muted"></p>
                                          
                                          <script>
                
                                            var intro = document.querySelector("p[data-intro_get='{$value.idtopic}']");
                                        
                                            intro.innerHTML = "{$value.desheader}";

                                            intro.innerHTML = intro.innerText;

                                            </script>
                                          
                                            
                                          <a class="btn btn-outline-primary btn-md ml-0" href="/topics/{$value.idtopic}" role="button">Ir para o topico<i style="margin-left: 5px;" class="nc-icon nc-spaceship"></i></a>
                                
                                        </div>
                                        <!--Grid column-->
                                
                                        <!--Grid column-->
                                        <div class="col-md-6 mb-4 mb-md-0">
                                
                                          <!--Image-->
                                          <div class="view overlay z-depth-1-half">
                                            <img height="340" width="240" src="{$value.descap}" class="img-fluid"
                                              alt="HQ">
                                            <a href="/topics/{$value.idtopic}">
                                              <div class="mask rgba-white-light"></div>
                                            </a>
                                          </div>
                                
                                        </div>
                                        <!--Grid column-->
                                
                                      </div>
                                      <!--Grid row-->
                                
                                
                                    </section>
                                    <!--Section: Content-->
                                
                                
                                  </div>
            
                                 
                    </div>
                </div>
            </div>
            {/loop} 


            <div class="row">
                    <div class="pagination_content_per">
                        
                            <ul id="pagination_per" class="pagination">
                              <!-- <li><a href="#" class="prev"> Prev</a></li>  -->
                              {loop="$pages"}
                               {if="$dir === $value.text"}
                               <li class="pageNumber current"><a class="" href="{$value.href}">{$value.text}</a></li> 
                               {else}
                               <li class="pageNumber"><a class="" href="{$value.href}">{$value.text}</a></li> 
                               {/if}
                              {/loop}
                               <!-- <li><a href="#" class="next">Next</a></li> -->
                            </ul>
                          
                    </div>
                </div>
</div>

<script>


document.querySelector("input[name='search']").value = "{$search}";



</script>