
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="/res/site/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/res/site/assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
ds-club
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="/res/site/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/res/site/assets/css/paper-dashboard.css?v=2.0.0" rel="stylesheet" />
  <!-- CSS STYLE -->
  <link rel="stylesheet" href="/res/site/assets/lonely/demo.css">
  <link href="/res/site/assets/lonely/sidebarconfig.css" rel="stylesheet" />
  <link href="/res/site/assets/lonely/ferramentas.css" rel="stylesheet" />
  <link rel="stylesheet" href="/res/site/assets/lonely/lonely.css">
  <link rel="stylesheet" href="/res/site/assets/lonely/main.css">
  <!-- CSS loader -->
  <link rel="stylesheet" href="/res/site/assets/loader2.0/loader.css">
  
  <!-- Emojis -->

  <link rel="stylesheet" href="/res/site/assets/lonely/emojis.min.css">
  
  <!-- Carousel Topics -->
  {if="$_SERVER['REQUEST_URI'] === '/topics' || $_SERVER['REQUEST_URI'] === '/home'"}
  <link rel="stylesheet" href="/res/site/CarouselTopics/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/res/site/CarouselTopics/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/res/site/CarouselTopics/css/css.css">

  {/if}
</head>

<body class="">
    <md-backdrop class="md-opaque drawer-backdrop gf-scroll-trap"></md-backdrop>
    <div id="preloader">
        <div class="loader"></div>
    </div>
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="/profile" class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src='{function="getAvatar()"}'>
          </div>
        </a>
        <a data-showProfile href="/profile" class='simple-text logo-normal {function="getCurrentHost("/profile")"}'>
          {function="getUserName()"}
          
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          
          <li class='{function="getCurrentHost("/home")"}'>
            <a href="/home">
              <i class="nc-icon nc-bank"></i>
              <p>Home</p>
            </a>
          </li>
          <li class='{function="getCurrentHost("/fav")"}'>
            <a href="/fav">
              <i class="nc-icon nc-bookmark-2"></i>
              <p>Favoritos</p>
            </a>
          </li>
          <li class='{function="getCurrentHost("/topics")"}'>
            <a href="/topics">
              <i class="nc-icon nc-diamond"></i>
              <p>Topicos</p>
            </a>
          </li>
          <li class='{function="getCurrentHost("/ig")"}'>
            <a href="/ig">
              <i class="nc-icon nc-book-bookmark"></i>
              <p>Indices / Guias</p>
            </a>
          </li>
          <li class='{function="getCurrentHost("/about")"}'>
            <a href="/about">
              <i class="nc-icon nc-layout-11"></i>
              <p>Sobre o DS Club</p>
            </a>
          </li>
          <li class='{function="getCurrentHost("/contact")"}'>
            <a href="/contact">
              <i class="nc-icon nc-tile-56"></i>
              <p>Contato</p>
            </a>
          </li>
          <li class='active-pro'>
            <a href="/logout">
              <i class="nc-icon nc-button-power"></i>
              <p>Sair</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--  -->
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="/">ds-club</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form action="/get" method="GET"> 
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Buscar..." name="search">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="nc-icon nc-zoom-split"></i>
                  </div>
                </div>
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link btn-magnify" href="#pablo">
                  <i class="nc-icon nc-layout-11"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Stats</span>
                  </p>
                </a>
              </li>
              <li class="nav-item btn-rotate dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="nc-icon nc-bell-55"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Some Actions</span>
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a data-settings_per="show" class="nav-link btn-rotate" href="#pablo">
                  <i class="nc-icon nc-settings-gear-65"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Account</span>
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar  ss-->

      <!-- Config -->
      <div class="offset-area-per">
          <div class="offset-close"><i class="nc-icon nc-simple-remove"></i></div>
          <ul class="nav offset-menu-tab">
              <li><a class="" data-toggle="tab" href="#activity">Atalhos</a></li>
              <li><a data-toggle="tab" href="#settings" class="active show">Settings</a></li>
          </ul>
          <div class="offset-content tab-content">
              <div id="activity" class="tab-pane fade in">
                  <button style="margin-left: 50px;" data-ajaxbuttonsips id="MostrarVisitantes" class="btn btn-outline-primary btn-round btn-sm">
                      <i class="fa fa-refresh"></i> Mostrar Atalhos
                    </button>
                  <button style="margin-left: 50px;" data-ajaxbuttonsips id="ApagarRegistroVisitantes" class="btn btn-outline-danger btn-round btn-sm">
                      <i class="nc-icon nc-basket"></i> Apagar Atalhos
                  </button>
                <ol id="">

                    
                </ol>
               </div>
              <div id="settings" class="tab-pane fade active show">
                  <div class="offset-settings">
                      <h4>General Settings</h4>
                      <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: calc(100vh - 158px);"><div class="settings-list" style="overflow: hidden; width: auto; height: calc(100vh - 158px);">
                          <div class="s-settings">
                              <div class="s-sw-title">
                                  <h5>Dark</h5>
                                  <div class="s-swtich">
                                      <input type="checkbox" id="switch1">
                                      <label for="switch1">Toggle</label>
                                  </div>
                              </div>
                              <p>Ativar modo escuro na pagina.</p>
                          </div>
                         
                      </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 569.376px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
                  </div>
              </div>
          </div>
      </div>