<div class="content">
    <div class="row">
      
            <div class="container">
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item active" aria-current="page">5 Mais curtidos</li>
                    </ol>
                  </nav>
               
            </div>
        
    </div>

    
    <div data-content_topics class="row">
            
      <div class="container">
          <br><br><br>
          <div class="col-sm-12">
              <div id="customers-testimonials1" class="owl-carousel">
                  <div class="item">
                      <button data-toggle="tooltip" data-placement="bottom" title="Adicionar aos favoritos" id="add_fav_slider_topic"><i class="nc-icon nc-bookmark-2"></i></button>
                        <div class="shadow-effect">
                            <img src="/res/site/assets/img/gif-capa.gif" class="" alt="">
                            
                        </div>
                        <a href="">
                            <div class="testimonial-name">
                              Abrir Topico
                            </div>
                        </a>

                    </div>
                    <div class="item">
                        <button data-toggle="tooltip" data-placement="bottom" title="Adicionar aos favoritos"  id="add_fav_slider_topic"><i class="nc-icon nc-bookmark-2"></i></button>
                          <div class="shadow-effect">
                              <img src="/res/site/assets/img/gif-capa.gif" class="" alt="">
                              
                          </div>
                          <a href="">
                              <div class="testimonial-name">
                                Abrir Topico
                              </div>
                          </a>
  
                      </div>
              </div>
          </div>
      </div>
    

                      
    </div>

      <div class="row">
        
        <div class="container">
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">Indices / Guias</li>
                </ol>
              </nav>
          
        </div>
      
    </div>

    <div data-content_topics class="row">
            
        <div class="container">
            <br><br><br>
            <div class="col-sm-12">
                <div id="customers-testimonials2" class="owl-carousel">
                    <div class="item">
                        <button data-toggle="tooltip" data-placement="bottom" title="Adicionar aos favoritos" id="add_fav_slider_topic"><i class="nc-icon nc-bookmark-2"></i></button>
                          <div class="shadow-effect">
                              <img src="/res/site/assets/img/gif-capa.gif" class="" alt="">
                              
                          </div>
                          <a href="">
                              <div class="testimonial-name">
                                Abrir Topico
                              </div>
                          </a>
  
                      </div>
                      <div class="item">
                          <button data-toggle="tooltip" data-placement="bottom" title="Adicionar aos favoritos"  id="add_fav_slider_topic"><i class="nc-icon nc-bookmark-2"></i></button>
                            <div class="shadow-effect">
                                <img src="/res/site/assets/img/gif-capa.gif" class="" alt="">
                                
                            </div>
                            <a href="">
                                <div class="testimonial-name">
                                  Abrir Topico
                                </div>
                            </a>
    
                        </div>
                </div>
            </div>
        </div>
      
  
                        
      </div>
</div>