<div class="content">
    <div class="row">
      
            <div class="container">
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item active" aria-current="page">Topicos</li>
                    </ol>
                  </nav>
                <!-- <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Topicos</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                </nav> -->
            </div>
        
    </div>

    
    <div id="content_topics" class="row">
            
            <!-- <div class="col-lg-3 col-md-6 col-sm-6">

              <div class="card card-nav-tabs" style="width: 20rem;">
                  <div data-title-topic-card class="card-header card-header-danger">
                    Mais curtidos
                  </div>
                  <ul class="list-group list-group-flush">
                    <a href=""> <li class="list-group-item">Shazam!</li></a>
                    <a href=""> <li class="list-group-item">Shazam!</li></a>
                    <a href=""> <li class="list-group-item">Shazam!</li></a>
                    <a href=""> <li class="list-group-item">Shazam!</li></a>
                    <a href=""> <li class="list-group-item">Shazam!</li></a>
                    <a href=""> <li class="list-group-item">Shazam!</li></a>
                  </ul>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">

                <div class="card card-nav-tabs" style="width: 20rem;">
                    <div data-title-topic-card class="card-header card-header-danger">
                      Indices & Guia
                    </div>
                    <ul class="list-group list-group-flush">
                      <a href=""> <li class="list-group-item">Revistas de A a Z</li></a>
                      <a href=""> <li class="list-group-item">Os novos 52</li></a>
                      <a href=""> <li class="list-group-item">Renascimento DC</li></a>
                      <a href=""> <li class="list-group-item">Guia Batman 2006/2016</li></a>
                      <a href=""> <li class="list-group-item">Guia Superman 2006/2016</li></a>
                      <a href=""> <li class="list-group-item">Indice Vertigio</li></a>
                      
                    </ul>
                  </div>
  
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">

                  <div class="card card-nav-tabs" style="width: 20rem;">
                      <div data-title-topic-card class="card-header card-header-danger">
                        Ultimas Respostas
                      </div>
                      <ul class="list-group list-group-flush">
                        <a href=""> <li class="list-group-item">Revistas de A a Z</li></a>
                        <a href=""> <li class="list-group-item">Os novos 52</li></a>
                        <a href=""> <li class="list-group-item">Renascimento DC</li></a>
                        <a href=""> <li class="list-group-item">Guia Batman 2006/2016</li></a>
                        <a href=""> <li class="list-group-item">Guia Superman 2006/2016</li></a>
                        <a href=""> <li class="list-group-item">Indice Vertigio</li></a>
                        
                      </ul>
                    </div>
    
                </div> -->
                

                  <div class="container">
                      <br><br><br>
                      <div class="col-sm-12">
                          <div id="customers-testimonials" class="owl-carousel">
                              <div class="item">
                                  <button id="add_fav_slider_topic"><i class="nc-icon nc-bookmark-2"></i></button>
                                    <div class="shadow-effect">
                                        <img src="/res/site/assets/img/gif-capa.gif" class="" alt="">
                                        
                                    </div>
                                    <a href="">
                                        <div class="testimonial-name">
                                          Abrir Topico
                                        </div>
                                    </a>
            
                                </div>
                                <div class="item">
                                    <button id="add_fav_slider_topic"><i class="nc-icon nc-bookmark-2"></i></button>
                                      <div class="shadow-effect">
                                          <img src="/res/site/assets/img/gif-capa.gif" class="" alt="">
                                          
                                      </div>
                                      <a href="">
                                          <div class="testimonial-name">
                                            Abrir Topico
                                          </div>
                                      </a>
              
                                  </div>
                                  <div class="item">
                                      <button id="add_fav_slider_topic"><i class="nc-icon nc-bookmark-2"></i></button>
                                        <div class="shadow-effect">
                                            <img src="/res/site/assets/img/gif-capa.gif" class="" alt="">
                                            
                                        </div>
                                        <a href="">
                                            <div class="testimonial-name">
                                              Abrir Topico
                                            </div>
                                        </a>
                
                                    </div>
                                    <div class="item">
                                        <button id="add_fav_slider_topic"><i class="nc-icon nc-bookmark-2"></i></button>
                                          <div class="shadow-effect">
                                              <img src="/res/site/assets/img/gif-capa.gif" class="" alt="">
                                              
                                          </div>
                                          <a href="">
                                              <div class="testimonial-name">
                                                Abrir Topico
                                              </div>
                                          </a>
                  
                                      </div>
                                      <div class="item">
                                          <button id="add_fav_slider_topic"><i class="nc-icon nc-bookmark-2"></i></button>
                                            <div class="shadow-effect">
                                                <img src="/res/site/assets/img/gif-capa.gif" class="" alt="">
                                                
                                            </div>
                                            <a href="">
                                                <div class="testimonial-name">
                                                  Abrir Topico
                                                </div>
                                            </a>
                    
                                        </div>
                              
                             
                              
                              
                              
                              
                              
                              
                              
                          </div>
                      </div>
                  </div>
                

                      
    </div>
</div>