


      <div class="content">
        
            
            
          
          <div class="row">
            <div class="container">
 
                <div class="media">
                  <img  src="/profile_user/avatar/{$topic.iduser}.jpg" style="margin-right: 70px;" alt="...">
                
                  <div class="media-body">
                      <h5  class="mt-0">{$topic.destopic}</h5>
                      {$topic.desheader}
                  </div>
                </div>
                <hr>
            </div>
              
          </div> 
  
          
         
        </div>
        
  