


      <div class="content">
        
            
            
          
          <div class="row">
            <div class="container">
 
                <div class="media">
                  
                    <img id="imagecap_topic" src="{$topic.descap}" alt="cap">

                
                  <div class="media-body">
                      <h5  class="mt-0">{$topic.destopic}</h5>
                      <b>Editora :</b> {$topic.descompany}<br><br>    51cbce
                      <b>Ano de Lançamento:</b> {$topic.desserie}<br><br>
                      <b>Ano de Lançamento:</b> {$topic.desrelease}<br><br>
                      <b>Total de Edições:</b> {$topic.vltotalcompany}<br><br>
                      <b>Sinopse:</b> <br>
                       
                        <intro> 

                        </intro>
                       <script>

                        var intro = document.getElementsByTagName("intro")[0];

                        intro.innerHTML = "{$topic.desheader}";

                        intro.innerHTML = intro.innerText;

                       </script>
                        <hr>
                        <div class="footer_per_intro">
                            <figure>
                                    <img id="profile_topic" src="/profile_user/avatar/{$topic.iduser}.jpg" alt="profile">
                                    <br>
                                    <figcaption>
                                        <small>Por {$topic.desperson} - <b>Administrador</b></small>                       
                                    </figcaption>

                            </figure>
                        </div>
                  </div>
                </div>
                <hr>
            </div>
              
          </div> 
  
          
         
        </div>
        
  